.search{
    display: flex;
    gap:0.75rem;
    width: 40%;
    border-radius: 10px;
}

.searchbox{
    display: flex;
    border-radius: 10px;
    padding:5px;
    width: 100%;
    
}

.searchbox>input{
    background-color: transparent;
    border: 2px solid #4f5d73
    ;
    width: 500px;
    padding: 20px 30px 20px 30px;
    border-radius: 25px 0px 0px 25px;
}

.searchicons{
    display: flex;
    padding: 8px 10px 8px 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background: #4f5d73;
    border-radius: 0px 25px 25px 0px;
    color: white;
}

.searchbox:hover{
    cursor: pointer;
}

